@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open sans') url('opensans.woff');
}

body {
  background: url(../images/sky.png) 0 0 repeat-x rgb(238, 238, 238);
  font-family: Georgia, serif;
  z-index: 1;
}

h1, h2, h3{
  color: rgb(72,72,72);
  font-family: 'Open sans', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 300%;
}

h4 {
  font-size: medium;
  font-style: italic;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #4169e1;
}

button {
  font-family: sans-serif;
  font-size: smaller;
}

textarea {
  font-family: monospace;
  font-size: medium;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid gray;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

progress {
  margin-top: 5px;
  width: 100%;
}

.hiddenContent {
  display: none;
}

.divRight {
  text-align: right;
}

.grid-3.divRight {
  margin-left: 0px;
}

.changeset {
  margin-top: 10px;
  border: 1px solid black;
}

.changeset.backedout {
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 0px;
}

.changeset.backout {
  margin-top: 0px;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 0px;
}

.csetTitle {
  font-weight: bold;
  /*font-family: Verdana, sans-serif;*/
  font-family: 'Open sans', sans-serif;
  background-color: #87ceeb;
  color: black;
  margin-bottom: 10px;
  padding: 10px;
}

.csetTitle a:link {
  color: black;
  text-decoration: none;
}

.csetTitle a:visited {
  color: black;
}

.csetTitle a:active {
  color: black;
}

.csetTitle.backedout {
  background-color: silver;
}

.csetTitle.backout {
  background-color: #87ceeb;
}

.csetHead {
  padding-bottom: 10px;
  background-color: rgb(245, 255, 250);
}

.backoutbanner {
  font-weight: bold;
  background-color: rgb(255,239,217);
  color: red;
  border: 1px solid black;
}

.backout {
  background-color: rgb(255,239,217);
}

.backout.last {
  margin-bottom: 0px;
}

.backoutHeader {
  color: red; 
}

.whiteboardTA {
  width: 100%;
  border: 1px solid black;
}

.span.afterWhiteboard {
  width: 100%;
}

.grid-6.afterWhiteboard {
  text-align: right;
}

.loadingOverlay .ui-dialog-titlebar-close {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  padding: 5px;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: white;
  font-size: large;
  width: 300px;
}

.modalTitle {
  padding-left: 5px;
  padding-right: 5px;
  background-color: #87ceeb;
}

.modalContent {
  padding-left: 5px;
  padding-right: 5px;
}

.modalForm {
  width: 400px;
}

.modalForm p {
  margin: 0px 0px 5px 0px;
}

.modalForm input {
  font-family: 'Open Sans', sans-serif;
}

.modalForm button {
  font-family: 'Open Sans', sans-serif;
  font-size: large;
}

#opaque {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .80;
  filter: Alpha(Opacity=80); 
  background-color: rgb(238, 238, 238);
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 50% 50%;
  z-index: 10;
}

.bug {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  border-top: 1px solid black;
}

.bug.resolved {
  background-color: rgb(245, 255, 250);
}

.viewhide {
  text-decoration: none;
  color: #4169e1;
  cursor: pointer;
}

.grid-12.commentDiv {
  display: none;
}

.ctr {
  text-align: center;
}

div.ctr {
  z-index: 5;
}

.subwarn {
  color: red;
}

.prevButton {
  margin: 10px;
}

.nextButton {
  margin: 10px;
}

.summaryHeading {
  text-decoration: underline;
}

#errorText {
  border: 1px solid rgb(255,213,153);
  background-color: rgb(255,239,217);
  color: rgb(51,51,51);
}

#loadingOverlay {
  padding-left: 25px;
}

#loadingOverlayContainer {
  position: fixed;
}

#headline, #helpText {
  margin: 0;
  padding: 0;
}

#submitButton {
  margin-top: 10px;
}

#expandButton {
  margin-top: 10px;
  margin-bottom: 10px;
}
